@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
 
    --border: 216 34% 17%;
    --input: 216 34% 17%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;
 
    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 216 34% 17%;
 
    --radius: 0.5rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}


.shiki {
  font-size: 12px;
  border-radius: 8px;
  overflow: hidden;
} 

.md div[class*=language-] {
  position: relative;
  overflow-x: auto;
}

.md div[class*=language-] > span.lang {
  position: absolute;
  top: 2px;
  right: 8px;
  z-index: 2;
  font-size: 12px;
  font-weight: 500;
  color: rgba(235, 235, 245, 0.38);
  transition: color .4s,opacity .4s;
}

.shiki pre,
.shiki code {
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

.shiki pre {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
}

.shiki code {
  display: block;
  padding: 0 24px;
  width: fit-content;
  min-width: 100%;
  line-height: var(--vp-code-line-height);
  font-size: var(--vp-code-font-size);
  color: var(--vp-code-block-color);
  transition: color 0.5s;
}

.shiki.has-highlighted-lines code .line.has-highlight {
  background-color: var(--vp-code-line-highlight-color);
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}



.shiki.has-focused-lines .line:not(.has-focus) {
  filter: blur(0.095rem);
  opacity: 0.4;
  transition: filter 0.35s, opacity 0.35s;
}

.shiki.has-focused-lines .line:not(.has-focus) {
  opacity: 0.7;
  transition: filter 0.35s, opacity 0.35s;
}


.shiki.has-focused-lines:hover .line:not(.has-focus) {
  filter: blur(0);
  opacity: 1;
} 


pre.shiki {
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 20px 0;
  background: transparent;
  overflow-x: auto;
  counter-reset: linenumber; /* start each codeblock with line 0 */
}

/* pre.shiki .line::before {
  counter-increment: linenumber; 
  content: counter(
    linenumber
  ); 
  width: 1.5rem;
  margin-right: 0.5rem;
  padding-right: 0.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
  border-right: 0.1rem solid #fff1;
}  */

.md {
  --vp-code-line-height: 1.7;
  --vp-code-font-size: 0.875em;
  --vp-c-code-dimm: var(--vp-c-text-dark-3);


  --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
  --vp-code-line-number-color: var(--vp-c-code-dimm);

  --vp-code-line-diff-add-color: var(--vp-c-green-dimm-2);
  --vp-code-line-diff-add-symbol-color: var(--vp-c-green);

  --vp-code-line-diff-remove-color: var(--vp-c-red-dimm-2);
  --vp-code-line-diff-remove-symbol-color: var(--vp-c-red);


  --vp-c-green: #10b981;
  --vp-c-green-light: #34d399;
  --vp-c-green-lighter: #6ee7b7;
  --vp-c-green-dark: #059669;
  --vp-c-green-darker: #047857;
  --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
  --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
  --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);

  --vp-c-yellow: #d97706;
  --vp-c-yellow-light: #f59e0b;
  --vp-c-yellow-lighter: #fbbf24;
  --vp-c-yellow-dark: #b45309;
  --vp-c-yellow-darker: #92400e;
  --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
  --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
  --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);

  --vp-c-red: #f43f5e;
  --vp-c-red-light: #fb7185;
  --vp-c-red-lighter: #fda4af;
  --vp-c-red-dark: #e11d48;
  --vp-c-red-darker: #be123c;
  --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
  --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
  --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);
}



.md [class*='language-'] code .diff {
  transition: background-color 0.5s;
  margin: 0 -24px;
  padding: 0 24px;
  width: calc(100% + 2 * 24px);
  display: inline-block;
}

.md [class*='language-'] code .diff::before {
  position: absolute;
  left: 10px;
}

.md [class*='language-'] code .diff.remove {
  background-color: var(--vp-code-line-diff-remove-color);
  opacity: 0.7;
}

.md [class*='language-'] code .diff.remove::before {
  content: '-';
  color: var(--vp-code-line-diff-remove-symbol-color);
}

.md [class*='language-'] code .diff.add {
  background-color: var(--vp-code-line-diff-add-color);
}

.md [class*='language-'] code .diff.add::before {
  content: '+';
  color: var(--vp-code-line-diff-add-symbol-color);
}