
.md {


    --vp-code-line-height: 1.7;
    --vp-code-font-size: 0.875em;
    --vp-c-code-dimm: var(--vp-c-text-dark-3);
  
    --vp-code-block-color: var(--vp-c-text-dark-1);
    --vp-code-block-bg: #292b30;
    --vp-code-block-bg-light: #e3e3e3;
    --vp-code-block-divider-color: #000000;
  
    --vp-code-line-highlight-color: rgba(0, 0, 0, 0.5);
    --vp-code-line-number-color: var(--vp-c-code-dimm);
  
    --vp-code-line-diff-add-color: var(--vp-c-green-dimm-2);
    --vp-code-line-diff-add-symbol-color: var(--vp-c-green);
  
    --vp-code-line-diff-remove-color: var(--vp-c-red-dimm-2);
    --vp-code-line-diff-remove-symbol-color: var(--vp-c-red);
  
    --vp-code-line-warning-color: var(--vp-c-yellow-dimm-2);
    --vp-code-line-error-color: var(--vp-c-red-dimm-2);
  
    --vp-code-copy-code-border-color: rgba(205,217,229,0.1);
    --vp-code-copy-code-bg: var(--vp-code-block-bg-light);
    --vp-code-copy-code-hover-border-color: rgba(205,217,229,0.5);
    --vp-code-copy-code-hover-bg: var(--vp-code-block-bg-light);
    --vp-code-copy-code-active-text: var(--vp-c-text-dark-2);
  
    --vp-c-divider: rgba(60, 60, 67, 0.12);
  
    --vp-icon-copy: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(128,128,128,1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2'/%3E%3C/svg%3E");
    --vp-icon-copied: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' height='20' width='20' stroke='rgba(34, 197, 94, 1)' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M9 5H7a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-2M9 5a2 2 0 0 0 2 2h2a2 2 0 0 0 2-2M9 5a2 2 0 0 1 2-2h2a2 2 0 0 1 2 2m-6 9 2 2 4-4'/%3E%3C/svg%3E");
  
  
    --vp-c-green: #10b981;
    --vp-c-green-light: #34d399;
    --vp-c-green-lighter: #6ee7b7;
    --vp-c-green-dark: #059669;
    --vp-c-green-darker: #047857;
    --vp-c-green-dimm-1: rgba(16, 185, 129, 0.05);
    --vp-c-green-dimm-2: rgba(16, 185, 129, 0.2);
    --vp-c-green-dimm-3: rgba(16, 185, 129, 0.5);
  
    --vp-c-yellow: #d97706;
    --vp-c-yellow-light: #f59e0b;
    --vp-c-yellow-lighter: #fbbf24;
    --vp-c-yellow-dark: #b45309;
    --vp-c-yellow-darker: #92400e;
    --vp-c-yellow-dimm-1: rgba(234, 179, 8, 0.05);
    --vp-c-yellow-dimm-2: rgba(234, 179, 8, 0.2);
    --vp-c-yellow-dimm-3: rgba(234, 179, 8, 0.5);
  
    --vp-c-red: #f43f5e;
    --vp-c-red-light: #fb7185;
    --vp-c-red-lighter: #fda4af;
    --vp-c-red-dark: #e11d48;
    --vp-c-red-darker: #be123c;
    --vp-c-red-dimm-1: rgba(244, 63, 94, 0.05);
    --vp-c-red-dimm-2: rgba(244, 63, 94, 0.2);
    --vp-c-red-dimm-3: rgba(244, 63, 94, 0.5);
  }
  
  
  .md {
    font-size: 12px;
    border-radius: 8px;
    overflow: hidden;
  } 
  
  .md div[class*=language-] {
    position: relative;
    overflow-x: auto;
  }
  
  .md div[class*=language-] > span.lang {
    position: absolute;
    top: 2px;
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    color: rgba(235, 235, 245, 0.38);
    transition: color .4s,opacity .4s;
  }
  
  
  .md [class*='language-']:hover > button.copy + span.lang,
  .md [class*='language-'] > button.copy:focus + span.lang {
    opacity: 0;
  }
  
  .md [class*='language-'] .highlight-word {
    background-color: var(--vp-c-green-dark); 
    border-radius: 2px;
  }
  
  .md div[class*=language-] > button.copy {
    direction: ltr;
    position: absolute;
    top: 12px;
    /*rtl:ignore*/
    right: 12px;
    z-index: 3;
    border: 1px solid var(--vp-code-copy-code-border-color);
    border-radius: 4px;
    width: 30px;
    height: 30px;
    background-color: var(--vp-code-copy-code-bg);
    opacity: 0;
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition: border-color 0.25s, background-color 0.25s, opacity 0.25s;
  }
  
  
  .md [class*='language-']:hover > button.copy,
  .md [class*='language-'] > button.copy:focus {
    opacity: 1;
  }
  
  .md [class*='language-'] > button.copy:hover,
  .md [class*='language-'] > button.copy.copied {
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
  
  }
  
  .md [class*='language-'] > button.copy.copied,
  .md [class*='language-'] > button.copy:hover.copied {
    /*rtl:ignore*/
    /* border-radius: 0 4px 4px 0; */
    background-color: var(--vp-code-copy-code-hover-bg);
    border-color: rgba(34, 197, 94, 1);
    background-image: var(--vp-icon-copied);
  }
  
  .md pre,
  .md code {
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
  
  .md pre {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    background: transparent;
    overflow-x: auto;
  }
  
  .md code {
    display: block;
    padding: 0 24px;
    width: fit-content;
    min-width: 100%;
    line-height: var(--vp-code-line-height);
    font-size: var(--vp-code-font-size);
    color: var(--vp-code-block-color);
    transition: color 0.5s;
  }
  
  .md.has-highlighted-lines code .line.has-highlight {
    background-color: var(--vp-code-line-highlight-color);
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 2 * 24px);
    display: inline-block;
  }
  
  
  .md.has-focused-lines .line:not(.has-focus) {
    filter: blur(0.095rem);
    opacity: 0.4;
    transition: filter 0.35s, opacity 0.35s;
  }
  
  .md.has-focused-lines .line:not(.has-focus) {
    opacity: 0.7;
    transition: filter 0.35s, opacity 0.35s;
  }
  
  
  .md.has-focused-lines:hover .line:not(.has-focus) {
    filter: blur(0);
    opacity: 1;
  } 
  
  
  pre.md {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 20px 0;
    background: transparent;
    overflow-x: auto;
    counter-reset: linenumber; /* start each codeblock with line 0 */
  }
  
  /* pre.md .line::before {
    counter-increment: linenumber; 
    content: counter(
      linenumber
    ); 
    width: 1.5rem;
    margin-right: 0.5rem;
    padding-right: 0.5rem;
    display: inline-block;
    text-align: right;
    color: rgba(115, 138, 148, 0.4);
    border-right: 0.1rem solid #fff1;
  }  */
  
  
  .md [class*='language-'] code .diff {
    transition: background-color 0.5s;
    margin: 0 -24px;
    padding: 0 24px;
    width: calc(100% + 2 * 24px);
    display: inline-block;
  }
  
  .md [class*='language-'] code .diff::before {
    position: absolute;
    left: 10px;
  }
  
  .md [class*='language-'] code .diff.remove {
    background-color: var(--vp-code-line-diff-remove-color);
    opacity: 0.7;
  }
  
  .md [class*='language-'] code .diff.remove::before {
    content: '-';
    color: var(--vp-code-line-diff-remove-symbol-color);
  }
  
  .md [class*='language-'] code .diff.add {
    background-color: var(--vp-code-line-diff-add-color);
  }
  
  .md [class*='language-'] code .diff.add::before {
    content: '+';
    color: var(--vp-code-line-diff-add-symbol-color);
  }